@model Safa.Domain.Transaction

@* <form method="post"> *@
@*     <div class="border p-3 mt-4"> *@
@*         <div class="row pb-2"> *@
@*             <h2 class="text-primary">Create sombrero</h2> *@
@*             <hr/> *@
@*         </div> *@
@*         <div class="mb-3"> *@
@*             <label asp-for="Date"></label> *@
@*             <input asp-for="Date"></input> *@
@*         </div> *@
@*         <div class="mb-3"> *@
@*             <label asp-for="Description"></label> *@
@*             <Input asp-for="Description"></Input> *@
@*         </div> *@
@*         <div class="mb-3"> *@
@*             <label asp-for="Type"></label> *@
@*             <Input asp-for="Type"></Input> *@
@*         </div> *@
@*         <div class="mb-3"> *@
@*             <label asp-for="Amount"></label> *@
@*             <Input asp-for="Amount"></Input> *@
@*         </div> *@
@*         <div class="mb-3"> *@
@*             <label asp-for="IsSpendingMoney"></label> *@
@*             <Input asp-for="IsSpendingMoney"></Input> *@
@*         </div> *@
@*     </div> *@
@* </form> *@

<form class="user">
    <div class="form-group">
        <input type="date" asp-for="Date" class="form-control form-control-user"
               placeholder="Enter date...">
    </div>
    <div class="form-group">
        <input type="text" asp-for="Description" class="form-control form-control-user"
               placeholder="Enter description...">
    </div>
    <div class="form-group">
        <input type="text" asp-for="Type" class="form-control form-control-user"
               placeholder="Enter transaction type...">
    </div>
    <div class="form-group">
        <input type="text" asp-for="Amount" class="form-control form-control-user"
               placeholder="Enter Transaction amount...">
    </div>
    <div class="form-group">
        <input type="checkbox" asp-for="IsSpendingMoney" class="form-control form-control-user"
               placeholder="Enter if this is spending money...">
    </div>
</form>